body{
    margin: 0;
    padding: 0;
}

.section {
  height: fit-content;
  /* margin-top: 0px; */
  padding: 8vw;
  text-align: center;
  margin-bottom: 5vh;
}

.five {
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
}

.section .five img {
  height: 100%;
  /* width: 40%; */
  margin: 0;
  padding: 0;
}

.signup {
  width: 50%;
  background-color: #d82a4e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4vh;
}

.buttons {
  display: flex;
  width: 80%;
  align-items: center;
  /* justify-content:space-around; */
  flex-direction: column;
}

.buttons input {
  margin: 2px;
}
div.white {
  background: #ffffff;
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3vh;
  margin-bottom: 2vh;
}

.signup h2 {
  font-size: 3em;
  color: #ffffff;
  margin-bottom: 1.5vh;
  margin-top: 1vh;
}
.signup p {
  width: 70%;
  font-size: 1.1em;
  color: #ffffff;
  margin-bottom: 3vh;
}
.aboveFive {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstIn {
  height: 53px;
  width: 26%;
  padding: 0 30px;
  /* margin-right: 22px; */
  float: left;
  border: none;
  font-size: 14px;
  margin-right: 1vw;
}
.thi {
  background-color: #edf4f6;
  width: 80%;
  margin: 10px;
  text-align: center;
}
.bigButton {
  display: inline-block;
  min-width: 196px !important;
  height: 50px !important;
  text-align: center;
  border: none;
  padding: 15px 10px;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  color: #fff;
  cursor: pointer;
  background: #d82a4e !important;
  margin: 10px;
  margin-top: 4vh;
}

.error-message {
    font-size: 12px; /* Smaller font */
    color: red;
    margin: 2px 0;
    display: none; /* Hidden by default */
}

